@*@page  "/kuratkal"*@
@*@page "/kuratkal/{key1?}/{key2?}"*@
@page "/kuratkal/{key1?}/"

@using Relizealous.Common
@inject IJSRuntime js;
@inject NavigationManager NavManager;


<h4> @key2</h4>

<div style="display: flex; flex-direction: row; flex-wrap: wrap;">

    @foreach (var kural in Kural.Collection.Where(x => x.Adhikaram.ToString() == title))
    {
        <TheCard HeaderText="@kural.Statement">
            <b>@kural.Description</b><br /><br />
            <button class="btn btn-primary" @onclick="() => jsObj.PlayAudioFile(kural.AudioLink)">Play</button>
            <span>&nbsp;</span>
            <audio id="player">
                <source id="playerSource" src="" />
            </audio>
            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Translate" Color="Color.Success">Translate</MudButton>
        </TheCard>
    }
</div>

@code {
    [Parameter]
    public string key1 { get; set; }
    [Parameter]
    public string key2 { get; set; }

    private CallJavascript jsObj;

    private string title = string.Empty;

    protected override void OnInitialized()
    {
        jsObj = new CallJavascript(js);
        key1 = key1 ?? "1";
        //Relizealous.Common.NavigationManagerExtensions.TryGetQueryString<string>(NavManager, "title", out title);
    }
}
