@*@page  "/kuratkal"*@
@*@page "/kuratkal/{key1?}/{key2?}"*@
@page "/kuratkal/{key1?}/"

@using EnnumEzutthum.Common
@inject IJSRuntime js;
@inject NavigationManager NavManager;


<h4> @key2</h4>

<div style="display: flex; flex-direction: row; flex-wrap: wrap;">
    
    @foreach (var kural in Kural.Collection.Where(x => x.Adhikaram.ToString() == key1))
    {
    <TheCard HeaderText="@kural.Statement">
        <b>@kural.Description</b><br /><br />
        <button class="btn btn-primary" @onclick="() => jsObj.PlayAudioFile(kural.AudioLink)">Play</button>
        <span>&nbsp;</span>
        <audio id="player">
            <source id="playerSource" src="" />
        </audio>
        <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Translate" Color="Color.Success">In English</MudButton>
        @*<a href="https://youtu.be/0H8yntZmq-s" target="_blank" title="Watch this episode">
            <div>
                <img src="https://i.ytimg.com/vi/0H8yntZmq-s/hqdefault_live.jpg?sqp=-oaymwEcCPYBEIoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDH7oj2IzdB4Nz3YbZcaiaX_Stsog" class="card-img-top" alt="Some Title" asp-append-version="true">
            </div>
        </a>*@
    </TheCard>
    }
</div>

@code {
    [Parameter]
    public string key1 { get; set; }
    [Parameter]
    public string key2 { get; set; }

    private CallJavascript jsObj;

    //private string title = string.Empty;

    protected override void OnInitialized()
    {
        Console.WriteLine($"key1 =" + key1);
        jsObj = new CallJavascript(js);
        key1 = key1 ?? "1";
        //Relizealous.Common.NavigationManagerExtensions.TryGetQueryString<string>(NavManager, "title", out title);
    }
}
