@page "/tamilbooks"


<h3>தமிழ் நூல்கள்</h3>



@code {

    [CascadingParameter]
    public MainLayout Layout { get; set; }

    protected override void OnInitialized()
    {

        Console.WriteLine("Lang passed  from mainlayout into stotras comp: "+Layout.Language);
    }

    protected override void OnParametersSet()
    {
        Console.WriteLine("OnParametersSet: Lang passed  from mainlayout into stotras comp:" + Layout.Language);
    }

}
